.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 0px;
  transition: 0.2s;

  &__navbar {
    position: fixed;
    z-index: 4;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;

    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-item {
        font-size: 18px;
        list-style-type: none;
        padding: 0px 10px;

        &-link {
          text-decoration: none;
          transition: 0.2s;

          &:hover {
            opacity: 0.8;
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__toggle-theme-btn {
    cursor: pointer;
    background: lightblue;
    border-radius: 5px;
    outline: none;
    transition: 0.2s all ease-in-out;
    border: none;
    width: 45px;
    height: 45px;
    font-size: 24px;
    margin: 0px 20px;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__info-page {
    text-align: left;
    padding: 4rem;
  }
}

.ComponentTabsList {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0;
  border-right: 2px solid #e6f7ff;

  &__title {
    padding: 0.2em 1em;
  }
}

.Component {
  padding: 1em;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
  text-align: left;
  background: #e6f7ff;

  &:hover {
    background: #e6f7ff;
  }

  &--inactive {
    background: transparent;

    &:hover {
      background: transparent;
    }
  }
}
