.ComponentDetails {
  text-align: left;
  padding: 2em 4em;
  z-index: 3;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 80%;

  &__name,
  &__heading {
    font-weight: 600;
  }

  &__name {
    font-size: 40px;

    &-code {
      background-color: #eee;
      border-radius: 3px;
      font-family: courier, monospace;
      padding: 0 6px;
    }
  }
}
